.m-user{
  background:#ebeae5;
  width:100%;
  height:100%;
  header{
    width:100%;
    height:1.59rem;
    background:url(../../../img/user.jpg);
    background-size: cover;
    box-sizing: border-box;
    padding-top:.65rem;
    p{
      @include flexbox();
      @include align-items(center);
      @include flex-direction(column);
      height: .75rem;
      width: .75rem;
      margin: 0 auto;
      background:#fff;
      color:#adadad;
      @include border(4px,#ddd5ce,solid,50%);
      i{
        font-size:.3rem;
      }
      span{
        font-size:.12rem;
        a{
          padding:3px;
          color:#adadad;
        }
        i{font-size:.14rem;
        }
      }
    }
  }
  section{
    width:100%;
    height:auto;
    .money{
      width:100%;
      height:1rem;
      background:#fff;
      margin-bottom:.1rem;
      @include flexbox();
      li{
        @include flex();
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        color:#868686;
        i{font-size:.25rem}
        span{
          font-size:.14rem;
        }
      }
    }
    .user-list{
      li{
        height:.51rem;
        background: #fff;
        line-height: .51rem;
        @include flexbox();
        color:#464646;
        &:nth-child(2n){
          margin-bottom:.1rem;
        }
        &:nth-child(2n-1){
          @include border(1px,#eaeaea);
        }
        &:nth-child(1) i{
          color:#ffd200;
        }
        &:nth-child(2) i{
          color:#2ebdff;
        }
        &:nth-child(3) i{
          color:#ff742e;
        }
        &:nth-child(4) i{
          color:#2ebdff;
        }
        &:nth-child(5) i{
          color:#2ebdff;
        }
        i{
          display: block;
          width:.53rem;
          text-align: center;
          font-size:.24rem;
        }
        span{
          @include flex();
          font-size:.14rem;
        }
        b{
          display: block;
          width:.47rem;
          text-align: center;
          font-size:.16rem;
        }
      }
    }
  }
}
